services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - JWT_ENCODER_SECRET=dGhpc0lzVmV5U3Ryb25nQW5kUG93ZXJmdWxseVNlY3JldEtleSExMjM=
    depends_on:
      - mysql
      - minio

  mysql:
    image: mysql:8.0
    environment:
      - R2DBC_USER=root
      - R2DBC_PASSWORD=password
      - FLYWAY_USER=root
      - FLYWAY_PASSWORD=password

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=password